In [206]:
import os 
import pandas as pd
import datetime as dt
import qgrid

In [207]:
path = str(r'C:\Users\tranchinake\Desktop\DataScienceUniversity\LabBusinessAnalytic\Psicology\DS_LAB_PSYCOLOGY_2021')
path = path.replace("\\","/")
os.chdir(path)

In [208]:
df = pd.read_csv("./dataset/dataset_europa_inghilterra/all_astrazeneca_eu_in_eu_gb-vader.csv")
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'id', 'permalink',
       'username', 'text', 'date', 'parola_cercata', 'location', 'area',
       'citta', 'raggio', 'scores', 'compound'],
      dtype='object')

In [209]:
qgrid.show_grid(df,grid_options = {'forceFitColumns':False,'syncColumnCellResize': False,'highlightSelectedCell': True,'rowHeight': 25},
                show_toolbar=True,
               column_options ={ 'resizable': True,})

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': False, 'forceFitColumns': False, 'def…

In [210]:
df = df.drop(['Unnamed: 0.1','Unnamed: 0','Unnamed: 0.1.1','id'], axis=1)

In [84]:
# ['date','area']
# df.groupby(['area','date'])['compound'].mean()

In [213]:
d_mean = df.groupby(['area','parola_cercata','date'],as_index=False).mean() 
d_mean
#.agg(['mean', 'median'])
# d2 = df.groupby(['date','area'],as_index=False).median()

    area parola_cercata        date  compound
0     EU    AstraZeneca  2021-03-05  0.000000
1     EU    AstraZeneca  2021-03-07 -0.665200
2     EU    AstraZeneca  2021-03-10  0.440400
3     EU    AstraZeneca  2021-03-11 -0.148000
4     EU    AstraZeneca  2021-03-12 -0.125000
..   ...            ...         ...       ...
108   GB             EU  2021-03-26 -0.016262
109   GB             EU  2021-03-27 -0.091037
110   GB             EU  2021-03-28  0.101323
111   GB             EU  2021-03-29 -0.248875
112   GB             EU  2021-03-30  0.027812

[113 rows x 4 columns]

In [214]:
d_median = df.groupby(['area','parola_cercata','date'],as_index=False).median()

In [215]:
d_join = d_median.join(d_mean, lsuffix='', rsuffix='_other')
d_join

,area,parola_cercata,date,compound,area_other,parola_cercata_other,date_other,compound_other
0,EU,AstraZeneca,2021-03-05,0.00000,EU,AstraZeneca,2021-03-05,0.000000
1,EU,AstraZeneca,2021-03-07,-0.66520,EU,AstraZeneca,2021-03-07,-0.665200
2,EU,AstraZeneca,2021-03-10,0.44040,EU,AstraZeneca,2021-03-10,0.440400
3,EU,AstraZeneca,2021-03-11,-0.14800,EU,AstraZeneca,2021-03-11,-0.148000
4,EU,AstraZeneca,2021-03-12,-0.12500,EU,AstraZeneca,2021-03-12,-0.125000
...,...,...,...,...,...,...,...,...
108,GB,EU,2021-03-26,0.00000,GB,EU,2021-03-26,-0.016262
109,GB,EU,2021-03-27,-0.00645,GB,EU,2021-03-27,-0.091037
110,GB,EU,2021-03-28,0.10270,GB,EU,2021-03-28,0.101323
111,GB,EU,2021-03-29,-0.30560,GB,EU,2021-03-29,-0.248875
112,GB,EU,2021-03-30,0.00000,GB,EU,2021-03-30,0.027812

In [216]:
d_join = d_join.drop(['area_other','parola_cercata_other','date_other'], axis=1)

In [217]:
d_join = d_join.rename(columns={'compound': 'media', 'compound_other': 'median'})
d_join

    area parola_cercata        date    media    median
0     EU    AstraZeneca  2021-03-05  0.00000  0.000000
1     EU    AstraZeneca  2021-03-07 -0.66520 -0.665200
2     EU    AstraZeneca  2021-03-10  0.44040  0.440400
3     EU    AstraZeneca  2021-03-11 -0.14800 -0.148000
4     EU    AstraZeneca  2021-03-12 -0.12500 -0.125000
..   ...            ...         ...      ...       ...
108   GB             EU  2021-03-26  0.00000 -0.016262
109   GB             EU  2021-03-27 -0.00645 -0.091037
110   GB             EU  2021-03-28  0.10270  0.101323
111   GB             EU  2021-03-29 -0.30560 -0.248875
112   GB             EU  2021-03-30  0.00000  0.027812

[113 rows x 5 columns]

In [218]:
d_count = df.groupby(['area','parola_cercata','date'],as_index=False).count()
d_count = d_count.loc[:,['text','area']]
d_count

     text area
0       1   EU
1       1   EU
2       1   EU
3       2   EU
4       2   EU
..    ...  ...
108    37   GB
109    16   GB
110    13   GB
111    24   GB
112   746   GB

[113 rows x 2 columns]

In [219]:
d_join2 = d_join.join(d_count, lsuffix='', rsuffix='_other')
d_join2

    area parola_cercata        date    media    median  text area_other
0     EU    AstraZeneca  2021-03-05  0.00000  0.000000     1         EU
1     EU    AstraZeneca  2021-03-07 -0.66520 -0.665200     1         EU
2     EU    AstraZeneca  2021-03-10  0.44040  0.440400     1         EU
3     EU    AstraZeneca  2021-03-11 -0.14800 -0.148000     2         EU
4     EU    AstraZeneca  2021-03-12 -0.12500 -0.125000     2         EU
..   ...            ...         ...      ...       ...   ...        ...
108   GB             EU  2021-03-26  0.00000 -0.016262    37         GB
109   GB             EU  2021-03-27 -0.00645 -0.091037    16         GB
110   GB             EU  2021-03-28  0.10270  0.101323    13         GB
111   GB             EU  2021-03-29 -0.30560 -0.248875    24         GB
112   GB             EU  2021-03-30  0.00000  0.027812   746         GB

[113 rows x 7 columns]

In [220]:
d_join2 = d_join2.drop(['area_other'], axis=1)
d_join2 = d_join2.rename(columns={'text': 'count'})
d_join2

    area parola_cercata        date    media    median  count
0     EU    AstraZeneca  2021-03-05  0.00000  0.000000      1
1     EU    AstraZeneca  2021-03-07 -0.66520 -0.665200      1
2     EU    AstraZeneca  2021-03-10  0.44040  0.440400      1
3     EU    AstraZeneca  2021-03-11 -0.14800 -0.148000      2
4     EU    AstraZeneca  2021-03-12 -0.12500 -0.125000      2
..   ...            ...         ...      ...       ...    ...
108   GB             EU  2021-03-26  0.00000 -0.016262     37
109   GB             EU  2021-03-27 -0.00645 -0.091037     16
110   GB             EU  2021-03-28  0.10270  0.101323     13
111   GB             EU  2021-03-29 -0.30560 -0.248875     24
112   GB             EU  2021-03-30  0.00000  0.027812    746

[113 rows x 6 columns]

In [221]:
qgrid.show_grid(d_join2,grid_options = {'forceFitColumns':False,'syncColumnCellResize': False,'highlightSelectedCell': True,'rowHeight': 25},
                show_toolbar=True,
               column_options ={ 'resizable': True,})

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': False, 'forceFitColumns': False, 'def…

In [105]:
e = d_join2

In [145]:
def aggiungeRigheDataMancanti(df,area,tag):
    idx = pd.date_range('03-01-2021', '03-31-2021')
    df.loc[:,'date'] = pd.to_datetime(df.loc[:,'date'])
    df = df.set_index(df.loc[:,'date'])

    df = df.reindex(idx, fill_value=0)

    df.loc[:,'area']=area
    df.loc[:,'parola_cercata']=tag
    df['date'] = df.index
    df.reset_index(level=0, inplace=True)
    df = df.drop(['index'], axis=1)
    df
    return df

In [235]:
d_Astrazeneca_EU = d_join2[(d_join2['parola_cercata']  =='AstraZeneca') & (d_join2['area']  =='EU')]

area='EU'
tag = 'AstraZeneca'
d_Astrazeneca_EU = aggiungeRigheDataMancanti(d_Astrazeneca_EU,area,tag)
d_Astrazeneca_EU

####
d_EU_EU = d_join2[(d_join2['parola_cercata']  =='EU') & (d_join2['area']  =='EU')]

area='EU'
tag = 'EU'
d_EU_EU = aggiungeRigheDataMancanti(d_EU_EU,area,tag)
d_EU_EU

####
d_EU_GB = d_join2[(d_join2['parola_cercata']  =='EU') & (d_join2['area']  =='GB')]

area='GB'
tag = 'EU'
d_EU_GB = aggiungeRigheDataMancanti(d_EU_GB,area,tag)
#d_Astrazeneca_GB


####
d_Astrazeneca_GB = d_join2[(d_join2['parola_cercata']  =='AstraZeneca') & (d_join2['area']  =='GB')]

area='GB'
tag = 'AstraZeneca'
d_Astrazeneca_GB = aggiungeRigheDataMancanti(d_Astrazeneca_GB,area,tag)
d_Astrazeneca_GB

C:\Users\tranchinake\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:1675: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

   area parola_cercata       date    media    median  count
0    GB    AstraZeneca 2021-03-01  0.00000  0.022367      6
1    GB    AstraZeneca 2021-03-02  0.00000  0.001233     12
2    GB    AstraZeneca 2021-03-03  0.01290  0.017000      8
3    GB    AstraZeneca 2021-03-04  0.00000  0.074620      5
4    GB    AstraZeneca 2021-03-05  0.16260  0.165140     10
5    GB    AstraZeneca 2021-03-06  0.00000  0.184523     13
6    GB    AstraZeneca 2021-03-07 -0.29600  0.069829      7
7    GB    AstraZeneca 2021-03-08  0.00000  0.190671      7
8    GB    AstraZeneca 2021-03-09  0.00000  0.164925      4
9    GB    AstraZeneca 2021-03-10  0.50605  0.227100      6
10   GB    AstraZeneca 2021-03-11  0.34000  0.278083     12
11   GB    AstraZeneca 2021-03-12  0.00000 -0.054900     12
12   GB    AstraZeneca 2021-03-13  0.33755  0.213363      8
13   GB    AstraZeneca 2021-03-14 -0.25000 -0.263693     15
14   GB    AstraZeneca 2021-03-15  0.26820  0.160513     23
15   GB    AstraZeneca 2021-03-16  0.00000  0.033100     54
16   GB    AstraZeneca 2021-03-17  0.00000 -0.126487     23
17   GB    AstraZeneca 2021-03-18  0.25000  0.151946     37
18   GB    AstraZeneca 2021-03-19  0.00000  0.089181     21
19   GB    AstraZeneca 2021-03-20  0.00000  0.179250     22
20   GB    AstraZeneca 2021-03-21  0.31490  0.219383     18
21   GB    AstraZeneca 2021-03-22  0.22630  0.095893     29
22   GB    AstraZeneca 2021-03-23  0.00000  0.091044     18
23   GB    AstraZeneca 2021-03-24 -0.12800  0.015682     11
24   GB    AstraZeneca 2021-03-25  0.36120  0.268800     15
25   GB    AstraZeneca 2021-03-26  0.06400  0.072072     18
26   GB    AstraZeneca 2021-03-27  0.00000  0.274246     13
27   GB    AstraZeneca 2021-03-28  0.55740  0.349611      9
28   GB    AstraZeneca 2021-03-29  0.44040  0.273722      9
29   GB    AstraZeneca 2021-03-30  0.00000 -0.037208    407
30   GB    AstraZeneca 2021-03-31  0.00000  0.000000      0

In [236]:
dfAll = pd.DataFrame()
# 27 stati
list = ["Austria", "Belgium", "Bulgaria", "Norway","Croatia", "Republic of Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Spain", "Sweden"]
# list_uk = ["England", "Northern Ireland","Scotland","Wales"]
list_uk = ["United Kingdom"]



for stato in list:
    d_Astrazeneca_EU['stato'] = stato
    dfAll = dfAll.append(d_Astrazeneca_EU)
d_Astrazeneca_EU_all = dfAll

dfAll = pd.DataFrame()
for stato in list_uk:
    d_Astrazeneca_GB['stato'] = stato
    dfAll = dfAll.append(d_Astrazeneca_GB)
d_Astrazeneca_GB_all = dfAll

dfAll = pd.DataFrame()
for stato in list:
    d_EU_EU['stato'] = stato
    dfAll = dfAll.append(d_EU_EU)
d_EU_EU_all = dfAll

dfAll = pd.DataFrame()
for stato in list_uk:
    d_EU_GB['stato'] = stato
    dfAll = dfAll.append(d_EU_GB)
d_EU_GB = dfAll

In [183]:
d_Astrazeneca_EU_all

   area parola_cercata       date  media    median  count    stato
0    EU    AstraZeneca 2021-03-01    0.0  0.000000      0  Austria
1    EU    AstraZeneca 2021-03-02    0.0  0.000000      0  Austria
2    EU    AstraZeneca 2021-03-03    0.0  0.000000      0  Austria
3    EU    AstraZeneca 2021-03-04    0.0  0.000000      0  Austria
4    EU    AstraZeneca 2021-03-05    0.0  0.000000      1  Austria
..  ...            ...        ...    ...       ...    ...      ...
26   EU    AstraZeneca 2021-03-27    0.0  0.045078   2740   Sweden
27   EU    AstraZeneca 2021-03-28    0.0  0.037061   1806   Sweden
28   EU    AstraZeneca 2021-03-29    0.0  0.026308   5000   Sweden
29   EU    AstraZeneca 2021-03-30    0.0 -0.050216   8573   Sweden
30   EU    AstraZeneca 2021-03-31    0.0  0.000000      0   Sweden

[837 rows x 7 columns]

In [184]:
d_EU_EU_all

   area parola_cercata       date   media    median  count    stato
0    EU             EU 2021-03-01  0.0170  0.020560      5  Austria
1    EU             EU 2021-03-02  0.0000 -0.295360      5  Austria
2    EU             EU 2021-03-03  0.0000 -0.060300      9  Austria
3    EU             EU 2021-03-04  0.0000 -0.026300      8  Austria
4    EU             EU 2021-03-05  0.1798  0.354478      9  Austria
..  ...            ...        ...     ...       ...    ...      ...
26   EU             EU 2021-03-27  0.0000 -0.138645  22222   Sweden
27   EU             EU 2021-03-28  0.0000 -0.098740  17136   Sweden
28   EU             EU 2021-03-29  0.0000 -0.079405  24939   Sweden
29   EU             EU 2021-03-30  0.0000  0.013184  23882   Sweden
30   EU             EU 2021-03-31  0.0000  0.000000      0   Sweden

[837 rows x 7 columns]

In [185]:
d_EU_GB

   area parola_cercata       date    media    median  count    stato
0    GB             EU 2021-03-01  0.05695  0.007532     22  England
1    GB             EU 2021-03-02  0.29570  0.195295     22  England
2    GB             EU 2021-03-03 -0.22630 -0.166729     31  England
3    GB             EU 2021-03-04  0.00000 -0.005421     33  England
4    GB             EU 2021-03-05 -0.33890 -0.099447     34  England
..  ...            ...        ...      ...       ...    ...      ...
26   GB             EU 2021-03-27 -0.00645 -0.091037     16    Wales
27   GB             EU 2021-03-28  0.10270  0.101323     13    Wales
28   GB             EU 2021-03-29 -0.30560 -0.248875     24    Wales
29   GB             EU 2021-03-30  0.00000  0.027812    746    Wales
30   GB             EU 2021-03-31  0.00000  0.000000      0    Wales

[124 rows x 7 columns]

In [186]:
d_Astrazeneca_GB_all

   area parola_cercata       date   media    median  count    stato
0    EU    AstraZeneca 2021-03-01  0.0000  0.022367      6  England
1    EU    AstraZeneca 2021-03-02  0.0000  0.001233     12  England
2    EU    AstraZeneca 2021-03-03  0.0129  0.017000      8  England
3    EU    AstraZeneca 2021-03-04  0.0000  0.074620      5  England
4    EU    AstraZeneca 2021-03-05  0.1626  0.165140     10  England
..  ...            ...        ...     ...       ...    ...      ...
26   EU    AstraZeneca 2021-03-27  0.0000  0.274246     13    Wales
27   EU    AstraZeneca 2021-03-28  0.5574  0.349611      9    Wales
28   EU    AstraZeneca 2021-03-29  0.4404  0.273722      9    Wales
29   EU    AstraZeneca 2021-03-30  0.0000 -0.037208    407    Wales
30   EU    AstraZeneca 2021-03-31  0.0000  0.000000      0    Wales

[124 rows x 7 columns]

In [237]:
df = d_Astrazeneca_EU_all.append(d_EU_EU_all).append(d_EU_GB).append(d_Astrazeneca_GB_all)

In [238]:
df

   area parola_cercata       date   media    median  count           stato
0    EU    AstraZeneca 2021-03-01  0.0000  0.000000      0         Austria
1    EU    AstraZeneca 2021-03-02  0.0000  0.000000      0         Austria
2    EU    AstraZeneca 2021-03-03  0.0000  0.000000      0         Austria
3    EU    AstraZeneca 2021-03-04  0.0000  0.000000      0         Austria
4    EU    AstraZeneca 2021-03-05  0.0000  0.000000      1         Austria
..  ...            ...        ...     ...       ...    ...             ...
26   GB    AstraZeneca 2021-03-27  0.0000  0.274246     13  United Kingdom
27   GB    AstraZeneca 2021-03-28  0.5574  0.349611      9  United Kingdom
28   GB    AstraZeneca 2021-03-29  0.4404  0.273722      9  United Kingdom
29   GB    AstraZeneca 2021-03-30  0.0000 -0.037208    407  United Kingdom
30   GB    AstraZeneca 2021-03-31  0.0000  0.000000      0  United Kingdom

[1798 rows x 7 columns]

In [239]:
qgrid.show_grid(df,grid_options = {'forceFitColumns':False,'syncColumnCellResize': False,'highlightSelectedCell': True,'rowHeight': 25},
                show_toolbar=True,
               column_options ={ 'resizable': True,})

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': False, 'forceFitColumns': False, 'def…

In [229]:
df[df['stato'].isna()]

Empty DataFrame
Columns: [area, parola_cercata, date, media, median, count, stato]
Index: []

In [240]:
path = './dataset/'
df.to_csv(path+"dataset_definitivo_tableau.csv",sep=';',decimal=',')